.total-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex{ display: flex; }
.row-direction{ flex-direction: row; }
.column-direction{ flex-direction: column }
.items-left{
    align-items: flex-start;
}

.mt-md{margin-top: 24px}
.mb-sm{margin-bottom: 12px}

@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-20px);
    }
    100% {
        transform: translatey(0px);
    }
}
@keyframes reverse-float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(20px);
    }
    100% {
        transform: translatey(0px);
    }
}
